@{
    ViewBag.Title = "Successfully opened";
}

<h2>Account was successfully opened!</h2>

<p>
    Your account ID has been sent to your email.
    @Html.ActionLink("Account operations", "AccountOperations", "Account")
</p>

